parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Mockery#'
        - '#LazyLINQ\\LazyCollection::__construct\(\) does not call parent constructor#'

